<div class="card card-fighter no-border shadow shadow--hover m-5">
  <div class="card-img-top text-center p-2">
    <%= image_tag @fighter.avatar, alt: 'fighter'%>
  </div>
  <div class="card-body pt-0 text-center">
    <h2 class="card-title"> <%= @fighter.name %></h2>               
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Life : <%= @fighter.life %></li>
    <li class="list-group-item">Attack : <%= @fighter.attack %></li>
    <li class="list-group-item">Experience : <%= @fighter.xp %></li>
  </ul>
  <div class="card-footer row justify-content-around">
    <%= link_to 'Edit', edit_fighter_path(@fighter) %>
    <%= link_to 'Back', fighters_path %>
  </div>
</div>

<div class="card card-fighter no-border shadow shadow--hover m-5">
  <h5 class="card-header">Statistics</h5>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Number of fights : <%= @fights.size %></li>
    <li class="list-group-item">Number of fights won : <%= @won_fights.size %></li>
    <li class="list-group-item">Number of fights lost : <%= @lost_fights.size %></li>
    <li class="list-group-item">Success rate : <%= (@won_fights.size.to_f/@fights.size.to_f*100).to_i %>%</li>
  </ul>
</div>

<div class="card card-fighter no-border shadow shadow--hover m-5">
  <h5 class="card-header">His/Her fights :</h5>
  <div class="card-body row">
    <%@fights.each do |fight|%>
        <%= render "fights/card", fight: fight %>
    <%end%>
  </div>
</div>