<div class="col-lg-4 col-sm-6 mb-5">
	<%= link_to fight_path(fight.id) do  %>
		<div class="card card-fight no-border shadow shadow--hover">
			<div class="card-img-top text-center p-2">
				<div class="row">
					<div class="col-6">
						<%= image_tag fight.winner.avatar, alt: 'fight', class: "img-fluid" %>
						<div class="carousel-caption">
							<h3 style="text-shadow: 2px 2px 2px black;"><%= fight.winner.name %></h3>
						</div>
					</div>
					<div class="col-6 ">
						<%= image_tag fight.loser.avatar, alt: 'fight', class: "img-fluid"%>
						<div class="carousel-caption">
							<h3 style="text-shadow: 2px 2px 2px black;"><%= fight.loser.name %></h3>
						</div>
					</div>
				</div>
				
				
			</div>
			<div class="card-body pt-0 text-center">
				<h5 class="card-title"> WINNER : <%= fight.winner.name %></h5>               
			</div>
		</div>
	<% end %>
</div>
