<%= form_with(model: fight, local: true) do |form| %>
  <% if fight.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fight.errors.count, "error") %> prohibited this fight from being saved:</h2>

      <ul>
      <% fight.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :fighter_1%>
    <%= form.select(:fighter_1_id, Fighter.all.collect {|u| [u.name, u.id]}, :prompt => 'Select') %>

    <%= form.label :fighter1_weapon%>
    <%= form.select(:fighter1_weapon_id, Weapon.all.collect {|u| [u.name, u.id]}, :prompt => 'Select') %>

  </div>

  <div class="field">
    <%= form.label :fighter_2%>
    <%= form.select(:fighter_2_id, Fighter.all.collect {|u| [u.name, u.id]}, :prompt => 'Select') %>

    <%= form.label :fighter2_weapon%>
    <%= form.select(:fighter2_weapon_id, Weapon.all.collect {|u| [u.name, u.id]}, :prompt => 'Select') %>

  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
