<%= form_with(model: fight, local: true) do |form| %>
  <% if fight.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fight.errors.count, "error") %> prohibited this fight from being saved:</h2>

      <ul>
      <% fight.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-group border p-2">

    <div class="field mb-2">
      <%= label_tag "Fighter 1 :" %>
      <%= form.select(:fighter_1_id, Fighter.all.collect {|u| [u.name, u.id]}, :prompt => 'Select', class: 'form-control') %>
    </div>

    <div class="field">
      <%= label_tag "Weapons :" %>
      <div class="form-group d-flex ">
        <% @weapons.each do |weapon| %>
          <div class="p-1">
            <%= check_box_tag("weapon1_ids[]" , weapon.id, false, id: "weapon1_ids_#{weapon.id}") %>
            <%= label_tag weapon.name %>
          </div>  
        <% end %>
      </div>
    </div>

  </div>
  
  <div class="form-group border p-2">
    <div class="field mb-2">
      <%= label_tag "Fighter 2 :" %>
      <%= form.select(:fighter_2_id, Fighter.all.collect {|u| [u.name, u.id]}, :prompt => 'Select', class: 'form-control') %>
    </div>

    <div class="field">
      <%= label_tag "Weapons :" %>
      <div class="form-group d-flex ">
        <% @weapons.each do |weapon| %>
          <div class="p-1">
            <%= check_box_tag("weapon2_ids[]" , weapon.id, false, id: "weapon2_ids_#{weapon.id}") %>
            <%= label_tag weapon.name %>
          </div>  
        <% end %>
      </div>
    </div>

  </div>

  <div class="actions row justify-content-between p-3">
    <%= form.submit "Save", class: "btn btn-sm btn-primary" %>
    <%= link_to 'Back', root_path, class: "btn btn-sm btn-primary" %>
  </div>

<% end %>
