<!DOCTYPE html>
<html>
  <head>
    <title>Contrat</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/flashes"%>
    <section class="slice slice-lg" id="sct-products">
      <div class="container">
        <%= yield %>
      </div>
    </section>
  </body>
</html>
